 *{
 	padding: 5px;
 	margin: 5px;
 }
 .box{
	padding: 0;
	margin: 0;
	background-color: blueviolet;
	border: 3px dotted black;
	text-align: center;
}

h2 ,h4{
	padding: 0;
	margin: 0;
}	
	
h3,p{
	padding: 0;
	margin: 0;
}
aside{
	width: 250px;
	padding-left:10px ;
	margin-left:20px ;
	float: right;
	font-style: italic;
	background-color: lightgreen;
	display: inline-block;

}	
table, th, td {
	border: 2px solid blueviolet;
} 
li, .value{
	padding: 0px;
	margin: 5px;
	display:block;


}